$( function() {
$("body").html(
    [
    '<br><br><center><bagDiv>Tiles left in bag: <span id="bagBox"></span></bagDiv>',
    '<div id="poolDiv"></div><br>',
    '<stashDiv>Stash </stashdiv><br><br>',
    '<div id="stashDiv"></div>',
    '<div id="commands">',
        '<button type="button" id="flip_tile">Flip Tile</button><br>',
        '<input id="word" type="text" placeholder="Enter Word Here"/>',
    '</div>',
    '<div id="gamelog"/></center>',
    ].join('\n'));

    window.initTable();
});
