Tiles left in bag: <span id="bagBox"></span>
<div id="poolDiv"></div>
Stash:
<div id="stashDiv"></div>

<div id="commands">
	<%= button_to "Flip Tile", { :action => "flip"},
          :confirm => "Are you sure?", :method => :post %>
   <input id="word" type="text" value="Enter Word Here"/>
	<%= button_to "Submit", { :action => "submit"}, :method => :post %>
	<%= button_to "Leave game", { :action => "leave"},
          :confirm => "Are you sure?", :method => :post %>
</div>
<script src="assets/table.js"></script>