<%= javascript 'game.coffee.js' %> 

<div>Tiles left in bag: <span id="bagBox"></span></div>
<div id="poolDiv"></div>
<div>Stash:</div>
<div id="stashDiv"></div>

<div id="commands">
    <button type="button" id="flip_tile">Flip Tile</button>
    <input id="word_entry" type="text" placeholder="Enter Word Here"/>
</div>

<div id="gamelog"/>
<!--<script src="assets/table.js"></script>-->
