<% content_for :head do %>
  <%= javascript_tag do %>
      window.initTable("<%= current_user.table.uuid %>");
    $(function() {
      window.show_table_setup();
    });
  <% end %>
<% end %>
<div id="nav_links">
  <%= link_to "Log out", log_out_path %><br>
  <%= link_to "New game", force_new_table_path %>
</div>
<br><br><center><div class="fancyBox">Tiles left in bag: <span id="bagBox"></span></div><br><br>
<div id = "inPlay">
  <div class="fancyBox" id="scoreDiv"></div><br><br>
  <div id="commands">
     <button type="button" id="flip_tile">Flip Tile</button><br>
     <input id="word_entry" type="text" placeholder="Enter Word Here"/>
  </div>
  <br><div class="fancyBox" id="poolTitle">Pool</div><br>
  <div id="poolDiv"></div><br><br>
</div>
<div id = "winner"></div>
<div id="stashDiv"></div>
<div id="gamelog"/></center>

