<% content_for :head do %>
  <%= javascript_tag do %>
      window.initTable("<%= current_user.table.uuid %>");
    $(function() {
      window.show_table_setup();
    });
  <% end %>
<% end %>
<div id="nav_links">
  <%= link_to "Log out", log_out_path %><br>
  <%= link_to "Lobby", root_path %>
</div>
<center><div class="fancyBox">Tiles left in bag: <span id="bagBox"></span></div>
<div id = "inPlay">
  <div class="fancyBox" id="scoreDiv"></div>
  <div id="commands">
     <input id="word_entry" type="text" placeholder="Enter Word Here"/>
     <button type="button" id="flip_tile">Flip Tile</button>
  </div>

  <div class="fancyBox" id="poolTitle">Pool</div><br>
  <div id="poolDiv"></div>
</div>
<div id="winner"></div>
<div id="stashDiv"></div>
<div id="gamelog"/></center>

